.carousel-item1 {
  width: 100%;
  height: 80vh;
}

.carousel-item1 img {
  width: 100%;
  height: 80vh;
}

.carousel-item2 {
  width: 100%;
  height: 80vh;
}

.carousel-item3 {
  width: 100%;
  height: 80vh;
}
